{% assign status = include.post.tags | first %}

<div class="panel {% case status %}
  {% when 'OK' %}
     panel-success
  {% when 'Down' %}
     panel-danger
  {% when 'Warning' %}
     panel-warning
  {% else %}
     panel-primary
{% endcase %}">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>{{ include.title | capitalize }}</h3>
      <span class="post-date">{{ include.post.date | date_to_rfc822 }}</span>
    </div>
  </div>
  <div class="panel-body">
    {{ include.post.content }}
  </div>
</div>
