{% assign status = include.post.tags | first %}

<div class="panel {% case status %}
  {% when 'OK' %}
     panel-success
  {% when 'Down' %}
     panel-danger
  {% when 'Warning' %}
     panel-warning
  {% else %}
     panel-primary
{% endcase %}">
  <div class="panel-heading">
    <h3 class="panel-title" style="display:inline">
        {{ include.title | capitalize }}
    </h3>
    <a class="pull-right" href="{{ include.post.url }}" target="_blank">
      {% if include.title != include.post.title %}
        <b>{{ include.post.title }}</b>
      {% endif %}
      <i class="fa fa-external-link"></i>
    </a>
  </div>
  <div class="panel-body">
    {{ include.post.content }}
  </div>
  <div class="panel-footer">
    <span class="post-time-since">{{ include.post.date | date_to_rfc822 }}</span>
    <span class="pull-right">{{ include.post.date | date_to_rfc822 }}</span>
  </div>
</div>
