---
# Jekyll will render this file to CSS for us,
# But you have to leave this block at the top.
# That includes the "---"s
---

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}
