---
# Jekyll will render this file to CSS for us,
# But you have to leave this block at the top.
# That includes the "---"s
---

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.panel-heading {
    .panel-title {
        h3 {
            color: white;
            margin: 0;
        }
        small {
            color: white;
        }
    }
    a {
        color: white;
        margin-left: 3px;
    }
}

.container {
    width: auto;
    max-width: 768px;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}
